Repository python-projects-kenanhancer/pydantic_settings_config_loader_demo: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, ruff, check-yaml

black:
  name: black
  entry: poetry run black
  language: system

isort:
  name: isort
  entry: poetry run isort
  language: system
  args:
  - --profile
  - black

ruff:
  name: ruff
  entry: poetry run ruff
  language: system
  args:
  - --fix
  - --exit-non-zero-on-fix

check-yaml:
  name: check-yaml
  entry: poetry run pre-commit-hooks check-yaml
  language: system

cleanup script is refactored
  scripts/cleanup.py
Due: black, isort, ruff

unit tests are refactored
  config.dev.yaml
  config.local.yaml
  tests/unit/settings/test_settings_with_env_loader.py
  tests/unit/settings/test_settings_with_env_loader_advanced.py
  tests/unit/settings/test_settings_with_yaml_loader.py
  tests/unit/settings/test_settings_with_yaml_loader_advanced.py
Due: black, isort, ruff, check-yaml

big refactoring done :)
  .pre-commit-config.yaml
  .vscode/settings.json
  README.md
  config.json
  config.local.json
  pyproject.toml
  scripts/cleanup.py
  scripts/setup.py
  src/app.py
  src/app_v2.py
  src/config_loaders/__init__.py
  src/config_loaders/config_loader.py
  src/config_loaders/config_loader_factory.py
  src/config_loaders/config_loader_factory_v2.py
  src/config_loaders/config_providers/__init__.py
  src/config_loaders/config_providers/config_provider.py
  src/config_loaders/config_providers/file_config_provider.py
  src/config_loaders/config_providers/gcp_secret_config_provider.py
  src/config_loaders/env_file_loader.py
  src/config_loaders/env_loader.py
  src/config_loaders/env_processors/__init__.py
  src/config_loaders/env_processors/default_env_processor.py
  src/config_loaders/env_processors/env_processor.py
  src/config_loaders/gcp_secret_json_loader.py
  src/config_loaders/gcp_secret_yaml_loader.py
  src/config_loaders/json_loader.py
  src/config_loaders/loader_args/__init__.py
  src/config_loaders/loader_args/gcp_loader_env_args.py
  src/config_loaders/loader_args/json_loader_args.py
  src/config_loaders/yaml_file_loader.py
  src/config_loaders/yaml_loader.py
Due: black, isort, ruff, check-yaml

pre-commit yaml formatter check
  config.local.yaml
Due: check-yaml

pre-commit yaml formetter is added
  .pre-commit-config.yaml
  config.dev.yaml
  config.local.yaml
  config.uat.yaml
  config.yaml
  poetry.lock
Due: check-yaml

pre-commit hooks are configured
  .pre-commit-config.yaml
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  config.json
  config.local.json
  config.uat.yaml
  poetry.lock
Due: check-yaml

.ruff_cache is ignored
  .gitignore
  scripts/cleanup.py
Due: black, isort, ruff

README is updated for pre-commit commands
  README.md
Due: none

unit tests are refactored
  config.dev.json
  tests/unit/settings/test_settings_with_env_loader_advanced.py
  tests/unit/settings/test_settings_with_loaders.py
  tests/unit/settings/test_settings_with_loaders_advanced.py
  tests/unit/settings/test_settings_with_yaml_loader.py
Due: black, isort, ruff

entry point files are named as main.py
  src/config_loaders/config_providers/gcp_secret_config_provider copy.py
  src/main.py
  src/main_v2.py
Due: black, isort, ruff

gcp_storage_config_loaders are added and unit tests are refactored
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  src/config_loaders/__init__.py
  src/config_loaders/config_loader_args/__init__.py
  src/config_loaders/config_loader_args/config_loader_args.py
  src/config_loaders/config_loader_args/env_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_secret_env_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_secret_json_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_secret_yaml_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_storage_env_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_storage_json_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_storage_yaml_config_loader_args.py
  src/config_loaders/config_loader_args/json_config_loader_args.py
  src/config_loaders/config_loader_args/yaml_config_loader_args.py
  src/config_loaders/config_loader_factory.py
  src/config_loaders/config_loader_factory_registry.py
  src/config_loaders/config_providers/__init__.py
  src/config_loaders/config_providers/gcp_secret_config_provider copy.py
  src/config_loaders/config_providers/gcp_secret_config_provider.py
  src/config_loaders/config_providers/gcp_storage_config_provider.py
  src/config_loaders/env_config_loader.py
  src/config_loaders/env_config_processors/__init__.py
  src/config_loaders/env_config_processors/default_env_config_processor.py
  src/config_loaders/env_config_processors/env_config_processor.py
  src/config_loaders/env_processors/__init__.py
  src/config_loaders/json_config_loader.py
  src/config_loaders/loader_args/__init__.py
  src/config_loaders/loader_args/env_loader_args.py
  src/config_loaders/loader_args/json_loader_args.py
  src/config_loaders/loader_args/yaml_loader_args.py
  src/config_loaders/yaml_config_loader.py
  src/main.py
  src/main_v2.py
  tests/unit/settings/test_settings_with_config_loaders.py
  tests/unit/settings/test_settings_with_config_loaders_advanced.py
  tests/unit/settings/test_settings_with_loaders.py
  tests/unit/settings/test_settings_with_loaders_advanced.py
Due: black, isort, ruff

pytest parallel execution is enabled
  poetry.lock
  pyproject.toml
Due: none

GcpStorageConfigLoader bucket name is updated to app-config-boilerplate
  src/main_v2.py
Due: black, isort, ruff

README is refactored
  .gitignore
  README.md
Due: none

gcp config_loaders are refactored
  src/config_loaders/config_loader_args/__init__.py
  src/config_loaders/config_loader_args/gcp_secret_config_loader_args/__init__.py
  src/config_loaders/config_loader_args/gcp_secret_config_loader_args/gcp_secret_env_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_secret_config_loader_args/gcp_secret_json_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_secret_config_loader_args/gcp_secret_yaml_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_storage_config_loader_args/__init__.py
  src/config_loaders/config_loader_args/gcp_storage_config_loader_args/gcp_storage_env_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_storage_config_loader_args/gcp_storage_json_config_loader_args.py
  src/config_loaders/config_loader_args/gcp_storage_config_loader_args/gcp_storage_yaml_config_loader_args.py
  src/config_loaders/config_loader_factory.py
Due: black, isort, ruff

README is refactored
  README.md
Due: none

config_loader decorators are added
  src/config_loaders/__init__.py
  src/config_loaders/decorators/__init__.py
  src/config_loaders/decorators/base_inject_settings.py
  src/config_loaders/decorators/gcp_secret_settings_decorators/__init__.py
  src/config_loaders/decorators/gcp_secret_settings_decorators/inject_settings_from_gcp_secret_env.py
  src/config_loaders/decorators/gcp_secret_settings_decorators/inject_settings_from_gcp_secret_json.py
  src/config_loaders/decorators/gcp_secret_settings_decorators/inject_settings_from_gcp_secret_yaml.py
  src/config_loaders/decorators/gcp_storage_settings_decorators/__init__.py
  src/config_loaders/decorators/gcp_storage_settings_decorators/inject_settings_from_gcp_storage_env.py
  src/config_loaders/decorators/gcp_storage_settings_decorators/inject_settings_from_gcp_storage_json.py
  src/config_loaders/decorators/gcp_storage_settings_decorators/inject_settings_from_gcp_storage_yaml.py
  src/config_loaders/decorators/inject_settings_from_env_file.py
  src/config_loaders/decorators/inject_settings_from_json_file.py
  src/config_loaders/decorators/inject_settings_from_yaml_file.py
  src/main_v3.py
Due: black, isort, ruff

some refactoring done
  src/config_loaders/config_loader_factory.py
  src/config_loaders/config_loader_factory_registry.py
  src/config_loaders/decorators/__init__.py
  src/config_loaders/decorators/inject_settings_from_loader_args.py
  src/main_v2.py
  src/main_v4.py
Due: black, isort, ruff

inject_settings decorator is refactored for settings already passed from unit test
  src/config_loaders/decorators/base_inject_settings.py
Due: black, isort, ruff

logger decorator and multiple settings decorator are created
  .env.say_hello
  .gitignore
  poetry.lock
  pyproject.toml
  src/config_loaders/decorators/base_inject_settings.py
  src/config_loaders/decorators/gcp_secret_settings_decorators/inject_settings_from_gcp_secret_env.py
  src/config_loaders/decorators/gcp_secret_settings_decorators/inject_settings_from_gcp_secret_json.py
  src/config_loaders/decorators/gcp_secret_settings_decorators/inject_settings_from_gcp_secret_yaml.py
  src/config_loaders/decorators/gcp_storage_settings_decorators/inject_settings_from_gcp_storage_env.py
  src/config_loaders/decorators/gcp_storage_settings_decorators/inject_settings_from_gcp_storage_json.py
  src/config_loaders/decorators/gcp_storage_settings_decorators/inject_settings_from_gcp_storage_yaml.py
  src/config_loaders/decorators/inject_settings_from_env_file.py
  src/config_loaders/decorators/inject_settings_from_json_file.py
  src/config_loaders/decorators/inject_settings_from_loader_args.py
  src/config_loaders/decorators/inject_settings_from_yaml_file.py
  src/decorators/__init__.py
  src/decorators/inject_logger.py
  src/decorators/inject_typed_request.py
  src/main_v3.py
  src/main_v4.py
  src/main_v5.py
  src/schemas/__init__.py
  src/schemas/chat.py
  src/schemas/greeting.py
  src/schemas/say_hello_settings/__init__.py
  src/schemas/say_hello_settings/greeting_language.py
  src/schemas/say_hello_settings/greeting_type.py
  src/schemas/say_hello_settings/say_hello_settings.py
Due: black, isort, ruff

unit tests of settings are refactored
  tests/unit/settings/test_settings_with_config_loaders.py
  tests/unit/settings/test_settings_with_config_loaders_advanced.py
  tests/unit/settings/unified_settings.py
Due: black, isort, ruff

default python interpreter is added in vscode settings.json
  .vscode/settings.json
Due: none

some refactoring done
  .python-version
  .tool-versions
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  poetry.lock
  pyproject.toml
  src/decorators/inject_typed_request.py
  tests/unit/settings/test_settings_with_config_loaders.py
Due: black, isort, ruff

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  ruff: any of: \.py$
  check-yaml: any of: \.(yml|yaml)$
